---
import { getTodaysGif } from "../data/gifs";

const gif = getTodaysGif();
const siteUrl = import.meta.env.SITE ?? "https://dzien.scooby.boo";
---

<!doctype html>
<html lang="en">
  <body>
  <video
          src={gif.url}
          poster={gif.url}
          autoplay
          loop
          playsinline
          controls
        ></video>
  </body>
</html>
